* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* pesquisa de itens */
.pesquisar {
    margin-left: 300px;
    margin-top: 15px;
    width: 800px;
}

#buscando {
    height: 30px;
    width: 770px;
    border-radius: 15px;
    border: solid 2px white;
    padding-left: 10px;
    font-size: 20px;
}

.titulo_buscar {
    margin-left: 10px;
}

.buscar {
    display: flex;
}

.buscar button img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.buscar button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

/* produtos em promoção */

.promo {
    width: 800px;
    margin-left: 300px;
    margin-top: 20px;
}

.promo h1 {
    font-size: 30px;
}

.produtos {
    display: flex;
    justify-content: space-around;
}

.produto {
    width: 200px;
}

.produto img {
    height: 150px;
    width: 200px;
}

.produto a {
    color: white;
}