* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    font-size: 21px;
    background-color: rgb(253, 107, 54);
    position: fixed;
    top: 0px;
    border-radius: 0px 20px 20px 0px;
}

#logotipo {
    height: 100px;
    width: 230px;
    margin: auto;
    margin-top: 25PX;
    margin-bottom: 0px;
    border: 1px solid black;
    border-radius: 10px;
}

#logotipo img {
    height: 100px;
    width: 230px;
    border-radius: 10px;
    border: solid 1px solid;
}

nav {
    margin-top: 10px;
}

nav h2 {
    background-color: black;
    color: white;
    padding-left: 22px;
    margin: 6px;
    margin-bottom: 10px;
    border-radius: 10px;
}

nav ul {
    margin-left: 28px;
    list-style: none;
}

nav ul li {
    margin-bottom: 15px;
    font-size: 25px;
}

#ultimo {
    margin-bottom: 15px;
}

nav ul li a {
    color: black;
}