body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    background-color: rgb(35, 35, 35);
    color: white;
    overflow-x: hidden;
}

main {
    padding-bottom: 100px;
}

footer {
    height: 70px;
    width: 100%;
    background-color: rgb(224, 147, 81);
    margin-top: 40px;
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: -10;
}

.info {
    width: 70%;
    color: black;
    display: flex;
    margin-left: 30%;
    align-items: center;
}

.cnpj {
    margin-right: 25px;
}

.endereco {
    padding-left: 30px;
    border-left: solid 1px black;
}

.contato {
    width: 30%;
    color: black;
    margin-left: 50px;
}

.contato p {
    margin-top: -4px;
}

.contato h3 {
    margin-top: -2px;
}